body {
margin:0px;
padding: 0;
font-size:14px;
overflow-x : hidden;
overflow-y : hidden; 
}
#bigcontainer{
width: auto;
margin:0 auto;
overflow-x : hidden;
overflow-y : hidden;
position:relative;
top:-35px;
}
#TitleDiv{
margin:0 auto 0 auto;
width:1000px;
height:100px;
background-color:#6E6E6E;
}

#NavButtonDiv{
margin:0 auto 0 auto;
width:300px;
height:100px;
background-color:#424242;
position:relative;
top:-100px;
left:350px;
}
#NavButtonDiv ul{
list-style:none;
display:inline;
position:relative;
top:70px;
left:0px;
}
#NavButtonDiv li{
display:inline;
padding:10px;
}
#NavButtonDiv a{
text-decoration:none;
color:white;
}
#UpdatableDiv{
margin:0 auto 0 auto;
width:1000px;
height:650px;
background-color:#D8D8D8;
position:relative;
top:-90px;
/*overflow-y:auto;
overflow-x:hidden;*/
}
#updatableContent{
margin:0 auto 0 auto;
width:1000px;
height:500px;
background-color:#D8D8D8;
position:relative;
top:10px;
overflow-y:auto;
overflow-x:hidden;
}
/* TITLE CSS */

#titleh{
font-size:25px;
color:white;
position:relative;
top:30px;
left:50px;
}

/* TABLE CSS*/

#if24h{
width:800px;
height:30px;
position:relative;
top:10px;
left:100px;
}
#if24h a{
text-decoration:none;
color:blue;
}
#novaReservaForm{
position:relative;
top:20px;
left:100px;
}
#novaReservaForm input{
width:100px;
height:50px;
}

#tableReservasA{
position:relative;
top:10px;
left:100px;
padding:0;
}
#tabledetail{
position:relative;
top:30px;
left:100px;
padding:0;
}
#tableReservas{
position:relative;
top:0px;
left:100px;
padding:0;
}
#tableReservas td,#tableReservasA td{
width:130px;
border:1px solid black;
text-align:center;
}
#tabledetail td{
width:200px;
border:1px solid black;
text-align:center;
padding:10px;
}
.reservaRegForm{
position:relative;
top:10px;
}
.reservaRegForm2{
position:relative;
top:0px;
left:100px;
}
.reservaRegForm input,.reservaRegForm2 input{
width:100px;
}
/* FORMULARI NOVA RESERVA CSS */
#reservaForm{
position:relative;
top:40px;
left:100px;
}
#infoBox{
width:800px;
height:80px;
position:relative;
top:20px;
left:100px;
border:1px solid black;
overflow-x : hidden;
overflow-y : auto;
}
#infoBox h3{
padding:0 0 0 20px;
margin:0;
}
.failMark{
background-color:#F6CED8;
border-color:red;
}